<main class="chat-container">
  <div class="chat-window">
    <div class="message other">
      <div class="text other">
        Hello!
        <div class="time">18:36</div>
      </div>
    </div>
    <div class="message mine">
      <div class="text mine">
        hi
        <div class="time">18:40</div>
      </div>
    </div>
  </div>
  <div class="input-bar">
    <input type="text" id="message-input" placeholder="Type here..." class="message-input" name="message">
    <button id="send-button" class="send-button">
      <img src="/public/img/send-icon.svg" alt="Send message">
    </button>
  </div>
</main>
