<main class="login" id="login-form">
  <h1 class="login__title">Login</h1>
  <form class="login__form">
    <div class="login__form__field">
      <label class="login__form__label" for="username">Username</label>
      <input
        class="login__form__input"
        type="text"
        id="username"
        name="login"
      />
    </div>
    <div class="login__form__field">
      <label class="login__form__label" for="password">Password</label>
      <input
        class="login__form__input"
        type="password"
        id="password"
        name="password"
      />
    </div>
    <button class="login__form__button" type="submit">Submit</button>
  </form>
  <a class="login__signup-link" href="/signup">Sign Up</a>
</main>
