@import "../../styles/colors.css";

.settings {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--box-shadow-color);
  width: 300px;
  margin: 50px auto;
  text-align: left;
}

.settings__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-color-primary);
}

.settings__subtitle {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--text-color-primary);
}

.settings__form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.settings__form__label {
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--text-color-primary);
}

.settings__form__input {
  padding: 8px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  box-sizing: border-box;
}

.settings__form__button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-background-color);
  color: var(--background-color);
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;

  &:hover {
    background-color: var(--button-background-hover);
  }
}

.settings__avatar {
  margin-bottom: 20px;
  text-align: center;
}

.settings__avatar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings__avatar__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: 0 0 5px var(--box-shadow-color);
}

.settings__avatar__input {
  display: none;
}

.settings__avatar__button {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--button-background-color);
  color: var(--background-color);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    background-color: var(--button-background-hover);
  }
}
